body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
}

.container {
    display: flex;
}
.form-container,
.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
   
}

selected-row {
    background-color: #708a75; 
}

.form-container {
    width: 40%;
}

.table-container {
    width: 60%;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px; 
}

button:hover {
    background-color: #635dd7;
}
button#red{
    background-color: red;
}
button#red:hover{
    background-color: rgb(164, 2, 2);
}

h2 {
    margin-top: 20px;
}

#customersTable {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}

#customersTable th,
#customersTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#customersTable th {
    background-color: #f2f2f2;
}

.actions-container {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}
#customersTable tbody tr.selected-row {
background-color: #49a65c !important;
color: white;
}
#showDataButton {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
}

#showDataButton:hover {
    background-color: #2980b9;
}


